@{
    ViewBag.Title = "Home Page";
}
<br/><br/><br/>
<div ><h1>Welcome to Pocathon 2018</h1></div><br/><br/>
<div ><h2>Version 2.1</h2></div><br/><br/><br/>
<div ><h3>Windows containerization on ACS - K8S</h3></div><br/><br/>
<li>Sachin Lokhande</li>
<li>Puneet Dhir</li>
<li>Snehal Patil</li>

<h6>Thank You</h6>
